@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap');
:root{
    --primary: #540B0E;
    --fontNav: #FFF3B0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body, hmtl{
    height: 100vh;
    background: #CCC5B9;
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    background: var(--primary);
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav a{
    
    color: #fff;
}
nav .logo img{
    height: 150px;
    width: 190px;
    background-size: cover;object-fit: fill;

}

.main{

    height: 85%;
    background: url(./src/BackGround.jpg);
    background-size: unset;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 50%;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

.main .text .cta_btn{
    padding: 10px;
    margin: 20px;

    background: none;
    border: 3px solid var(--primary);
    border-radius: 10px;
}
.main .text h1{
    margin: 10px;
}

.second{
    height: 85%;
}
.second img{
    width: 20%;
    height: 100%;
}